.case-studies-banner{
  background-image: url("../../assets/svg/all-solutions/solutions-banner.svg");
  background-repeat: no-repeat;
  background-position: center;
  // height: 450px;
  padding: 7% 0 7%;
}

.case-studies-query-form{
  background-image: url('../../assets/svg/bgform/guidelines.svg');
  background-position: right;
  background-repeat: no-repeat;
  height: 600px;
}